.git
.gitignore
.dockerignore

data
logs
bin
tmp
tools/ffmpeg/windows-x64
tools/ffmpeg/linux-x64
tools/ffmpeg/darwin-x64
tools/ffmpeg/darwin-arm64

configs/config.yaml
.env
.env.*

web/node_modules
web/dist
web/.vite
web/.env
web/.env.*

**/*.test
**/*.log
Thumbs.db
.DS_Store
